<section class="homepage-section collection-module" data-module-template="ribbon">
    <div data-unit-id="back-to-school" class="background-white" data-analytics-activitymap-region-id="back to school 2024 ribbon">
        <div class="module-content">
            <div class="ribbon-bts">
                <div class="section-content">
                    <span class="bts-ribbon-copy">
                        Now through 9/30, get a gift card up to $150 when you buy Mac or iPad with education savings.
                        <sup>
                            <a href="#footnote-1" class="footnote footnote-number" aria-label="Footnote 1">1</a>
                        </sup>
                        <a href="/us/shop/goto/educationlanding" target="_self" data-analytics-title="shop - back to school 2024" aria-label="Shop, back to school 2024">
                            Shop<span class="icon icon-after icon-chevronright"></span>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="homepage-section collection-module" data-module-template="heroes" data-analytics-region="hero">
    <div data-unit-id="iphone-16-pro" data-analytics-section-engagement="name:hero-iphone-16-pro">
        <div class="module-content">
            <div class="unit-wrapper theme-dark split-copy-wrapper">
                <a class="unit-link" href="/iphone-16-pro/" target="_self" rel="follow" data-analytics-region="learn more">&nbsp;</a>
                <div class="unit-copy-wrapper">
                    <div class="split-wrapper-top">
                        <h2 class="headline">iPhone 16 Pro</h2>
                        <p class="subhead">Hello, Apple Intelligence.</p>
                    </div>
                    <div class="split-wrapper-bottom">
                        <p class="callout available">Available starting 9.20</p>
                        <p class="callout ai">
                            Apple Intelligence coming this fall<sup class="footnote footnote-number" aria-label="Footnote 2">2</sup>
                        </p>
                        <div class="cta-links">
                            <a class="button button-elevated button-primary" href="/iphone-16-pro/" target="_self" rel="follow" data-analytics-region="learn more" data-analytics-title="learn more - iphone 16 pro" aria-label="Learn more, iPhone 16 Pro">Learn more</a>
                            <a class="button button-elevated button-tertiary" href="/us/shop/goto/buy_iphone/iphone_16_pro" target="_self" rel="follow" data-analytics-region="buy" data-analytics-title="pre-order - iphone 16 pro" aria-label="Pre-order, iPhone 16 Pro">Pre-order</a>
                        </div>
                    </div>
                </div>
                <div class="unit-image-wrapper">
                    <figure class="unit-image unit-image-iphone-16-pro-hero-iphone16pro-preorder" data-anim-lazy-image></figure>
                </div>
            </div>
        </div>
    </div>
    <div data-unit-id="iphone-16" data-analytics-section-engagement="name:hero-iphone-16">
        <div class="module-content">
            <div class="unit-wrapper theme-dark split-copy-wrapper">
                <a class="unit-link" href="/iphone-16/" target="_self" rel="follow" data-analytics-region="learn more">&nbsp;</a>
                <div class="unit-copy-wrapper">
                    <div class="split-wrapper-top">
                        <h2 class="headline">iPhone 16</h2>
                        <p class="subhead">Hello, Apple Intelligence.</p>
                    </div>
                    <div class="split-wrapper-bottom">
                        <p class="callout available">Available starting 9.20</p>
                        <p class="callout ai">
                            Apple Intelligence coming this fall<sup class="footnote footnote-number" aria-label="Footnote 3">3</sup>
                        </p>
                        <div class="cta-links">
                            <a class="button button-elevated button-primary" href="/iphone-16/" target="_self" rel="follow" data-analytics-region="learn more" data-analytics-title="learn more - iphone 16" aria-label="Learn more, iPhone 16">Learn more</a>
                            <a class="button button-elevated button-tertiary" href="/us/shop/goto/buy_iphone/iphone_16" target="_self" rel="follow" data-analytics-region="buy" data-analytics-title="pre-order - iphone 16" aria-label="Pre-order, iPhone 16">Pre-order</a>
                        </div>
                    </div>
                </div>
                <div class="unit-image-wrapper">
                    <figure class="unit-image unit-image-iphone-16-hero-iphone16-preorder" data-anim-lazy-image></figure>
                </div>
            </div>
        </div>
    </div>
    <div data-unit-id="apple-watch-series-10" data-analytics-section-engagement="name:hero-apple-watch-series-10">
        <div class="module-content">
            <div class="unit-wrapper">
                <a class="unit-link" href="/apple-watch-series-10/" target="_self" rel="follow" data-analytics-region="learn more">&nbsp;</a>
                <div class="unit-copy-wrapper">
                    <h2 class="logo-image logo-image-apple-watch-series-10-hero-logo-apple-watch-series-10 headline">
                        <span class="visuallyhidden">Apple Watch Series 10</span>
                    </h2>
                    <p class="subhead">Thinstant classic.</p>
                    <p class="callout">Available starting 9.20</p>
                    <div class="cta-links">
                        <a class="button button-elevated button-primary" href="/apple-watch-series-10/" target="_self" rel="follow" data-analytics-region="learn more" data-analytics-title="learn more - apple watch series 10" aria-label="Learn more, Apple Watch Series 10">Learn more</a>
                        <a class="button button-elevated button-tertiary" href="/us/shop/goto/buy_watch/apple_watch_series_10" target="_self" rel="follow" data-analytics-region="buy" data-analytics-title="pre-order - apple watch series 10" aria-label="Pre-order, Apple Watch Series 10">Pre-order</a>
                    </div>
                </div>
                <div class="unit-image-wrapper">
                    <figure class="unit-image unit-image-apple-watch-series-10-hero-apple-watch-series-10-announce-lte" data-anim-lazy-image></figure>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="homepage-section collection-module" data-module-template="promos" data-analytics-region="promo">
    <div data-unit-id="apple-watch-ultra-2" data-analytics-section-engagement="name:promo-apple-watch-ultra-2">
        <div class="module-content">
            <div class="unit-wrapper theme-dark">
                <a class="unit-link" href="/apple-watch-ultra-2/" target="_self" rel="follow" data-analytics-region="learn more">&nbsp;</a>
                <div class="unit-copy-wrapper">
                    <h3 class="logo-image logo-image-apple-watch-ultra-2-promo-logo-apple-watch-ultra2 headline">
                        <span class="visuallyhidden">Apple Watch Ultra 2</span>
                    </h3>
                    <p class="subhead">New finish. Never quit.</p>
                    <p class="callout">Available starting 9.20</p>
                    <div class="cta-links">
                        <a class="button button-primary" href="/apple-watch-ultra-2/" target="_self" rel="follow" data-analytics-region="learn more" data-analytics-title="learn more - apple watch ultra 2" aria-label="Learn more, Apple Watch Ultra 2">Learn more</a>
                        <a class="button button-tertiary" href="/us/shop/goto/buy_watch/apple_watch_ultra_2" target="_self" rel="follow" data-analytics-region="buy" data-analytics-title="pre-order - apple watch ultra 2" aria-label="Pre-order, Apple Watch Ultra 2">Pre-order</a>
                    </div>
                </div>
                <div class="unit-image-wrapper">
                    <figure class="unit-image unit-image-apple-watch-ultra-2-promo-apple-watch-ultra2-announce" data-anim-lazy-image></figure>
                </div>
            </div>
        </div>
    </div>
    <div data-unit-id="airpods-4" data-analytics-section-engagement="name:promo-airpods-4">
        <div class="module-content">
            <div class="unit-wrapper theme-dark bottom-copy-wrapper">
                <a class="unit-link" href="/airpods-4/" target="_self" rel="follow" data-analytics-region="learn more">&nbsp;</a>
                <div class="unit-copy-wrapper">
                    <h3 class="headline">AirPods 4</h3>
                    <p class="subhead">
                        Iconic. Now supersonic. Available with Active Noise Cancellation.<sup class="footnote footnote-number" aria-label="Footnote 4">4</sup>
                    </p>
                    <p class="callout">Available starting 9.20</p>
                    <div class="cta-links">
                        <a class="button button-primary" href="/airpods-4/" target="_self" rel="follow" data-analytics-region="learn more" data-analytics-title="learn more - airpods 4" aria-label="Learn more, AirPods 4">Learn more</a>
                        <a class="button button-tertiary" href="/us/shop/goto/buy_airpods/airpods_4" target="_self" rel="follow" data-analytics-region="buy" data-analytics-title="pre-order - airpods 4" aria-label="Pre-order, AirPods 4">Pre-order</a>
                    </div>
                </div>
                <div class="unit-image-wrapper">
                    <figure class="unit-image unit-image-airpods-4-promo-airpods-4-announce" data-anim-lazy-image></figure>
                </div>
            </div>
        </div>
    </div>
    <div data-unit-id="airpods-pro-2" data-analytics-section-engagement="name:promo-airpods-pro-2">
        <div class="module-content">
            <div class="unit-wrapper theme-dark bottom-copy-wrapper">
                <a class="unit-link" href="/airpods-pro/hearing-health/" target="_self" rel="follow" data-analytics-region="learn more">&nbsp;</a>
                <div class="unit-copy-wrapper">
                    <h3 class="headline">AirPods Pro 2</h3>
                    <p class="subhead">
                        Hearing Aid and Hearing Test features coming with a free software update this fall.<sup class="footnote footnote-number" aria-label="Footnote 5">5</sup>
                    </p>
                    <div class="cta-links">
                        <a class="button button-primary" data-analytics-title="learn more - airpods pro 2 hearing health" href="/airpods-pro/hearing-health/" target="_self" rel="follow" data-analytics-region="learn more" data-analytics-title="learn more - airpods pro 2" aria-label="Learn more, AirPods Pro 2">Learn more</a>
                        <a class="button button-tertiary" href="/us/shop/goto/buy_airpods/airpods_pro_2" target="_self" rel="follow" data-analytics-region="buy" data-analytics-title="buy - airpods pro 2" aria-label="Buy, AirPods Pro 2">Buy</a>
                    </div>
                </div>
                <div class="unit-image-wrapper">
                    <figure class="unit-image unit-image-airpods-pro-2-promo-airpods-pro-2-announce" data-anim-lazy-image></figure>
                </div>
            </div>
        </div>
    </div>
    <div data-unit-id="airpods-max" data-analytics-section-engagement="name:promo-airpods-max">
        <div class="module-content">
            <div class="unit-wrapper bottom-copy-wrapper">
                <a class="unit-link" href="/airpods-max/" target="_self" rel="follow" data-analytics-region="learn more">&nbsp;</a>
                <div class="unit-copy-wrapper">
                    <h3 class="headline">AirPods Max</h3>
                    <p class="subhead">Symphonic boom.</p>
                    <p class="callout">Available starting 9.20</p>
                    <div class="cta-links">
                        <a class="button button-primary" href="/airpods-max/" target="_self" rel="follow" data-analytics-region="learn more" data-analytics-title="learn more - airpods max" aria-label="Learn more, AirPods Max">Learn more</a>
                        <a class="button button-tertiary" href="/us/shop/goto/buy_airpods/airpods_max" target="_self" rel="follow" data-analytics-region="buy" data-analytics-title="pre-order - airpods max" aria-label="Pre-order, AirPods Max">Pre-order</a>
                    </div>
                </div>
                <div class="unit-image-wrapper">
                    <figure class="unit-image unit-image-airpods-max-promo-airpodsmax-announce" data-anim-lazy-image></figure>
                </div>
            </div>
        </div>
    </div>
    <div data-unit-id="carriers" data-analytics-section-engagement="name:promo-carriers">
        <div class="module-content">
            <div class="unit-wrapper bottom-copy-wrapper">
                <a class="unit-link" href="/us/shop/goto/buy_iphone/carrier_offers" target="_self" rel="follow" data-analytics-region="buy">&nbsp;</a>
                <div class="unit-copy-wrapper">
                    <h3 class="headline">Carrier deals at Apple</h3>
                    <p class="subhead">
                        Get up to $1000 in credit on a new iPhone. Trade-in may be required.<sup class="footnote footnote-number" aria-label="Footnote 6">6</sup>
                    </p>
                    <div class="cta-links">
                        <a class="button button-primary" href="/us/shop/goto/buy_iphone/carrier_offers" target="_self" rel="follow" data-analytics-region="buy" data-analytics-title="Find your deal - Carriers" aria-label="Find your deal, Carriers">Find your deal</a>
                    </div>
                </div>
                <div class="unit-image-wrapper">
                    <figure class="unit-image unit-image-carriers-promo-carrier" data-anim-lazy-image></figure>
                </div>
            </div>
        </div>
    </div>
    <div data-unit-id="iphone-tradein" data-analytics-section-engagement="name:promo-iphone-tradein">
        <div class="module-content">
            <div class="unit-wrapper">
                <a class="unit-link" href="/us/shop/goto/trade_in" target="_self" rel="follow" data-analytics-region="buy">&nbsp;</a>
                <div class="unit-copy-wrapper">
                    <h3 class="logo-image logo-image-iphone-tradein-promo-logo-iphone-tradein headline">
                        <span class="visuallyhidden">Apple Trade In</span>
                    </h3>
                    <p class="subhead">
                        Get $180-$650 in credit when you trade in iPhone 12 or higher.<sup class="footnote footnote-number" aria-label="Footnote 7">7</sup>
                    </p>
                    <div class="cta-links">
                        <a class="button button-primary" href="/us/shop/goto/trade_in" target="_self" rel="follow" data-analytics-region="buy" data-analytics-title="get your estimate" aria-label="Get your estimate">Get your estimate</a>
                    </div>
                </div>
                <div class="unit-image-wrapper">
                    <figure class="unit-image unit-image-iphone-tradein-promo-iphone-tradein" data-anim-lazy-image></figure>
                </div>
            </div>
        </div>
    </div>
</section>